@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700,900&display=swap");
@-webkit-keyframes move_wave {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
            transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
            transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
            transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
@keyframes move_wave {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
            transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
            transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
            transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes scroll-animacija {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scroll-animacija {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

body,
html {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #ebecf0;
}

#fp-nav ul {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#fp-nav ul li:nth-child(odd) a.active span {
  background: white !important;
}

#fp-nav ul li a span {
  background: #333435 !important;
  border-radius: 0;
}

.waveWrapper {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 100vw;
  height: 95vh;
}

.waveWrapper .waveWrapperInner, .waveWrapper .bgMiddle, .waveWrapper .bgBottom {
  position: absolute;
  width: 100vw;
  height: 101vh;
  bottom: -1px;
  background: #232526;
  background: -webkit-gradient(linear, left top, right top, from(#414345), to(#232526));
  background: linear-gradient(to right, #414345, #232526);
}

.waveWrapper .bgMiddle {
  z-index: 10;
  opacity: 0.75;
}

.waveWrapper .bgBottom {
  z-index: 5;
}

.waveWrapper .wave, .waveWrapper .waveMiddle, .waveWrapper .waveBottom {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.waveWrapper .waveMiddle {
  background-size: 50% 120px;
  -webkit-animation: move_wave 10s linear infinite;
          animation: move_wave 10s linear infinite;
}

.waveWrapper .waveBottom {
  background-size: 50% 100px;
  -webkit-animation: move_wave 15s linear infinite;
          animation: move_wave 15s linear infinite;
}

.waveWrapper div.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 999;
  position: relative;
  width: 100%;
  height: 85%;
}

.waveWrapper div.text h1 {
  font-size: 4em;
  font-weight: 900;
  background-color: #1a1a1a;
  color: transparent;
  text-shadow: -1px 2px 5px rgba(65, 67, 69, 0.3);
  -webkit-background-clip: text;
  background-clip: text;
  /*a {
				display: block;
				position: absolute;
				left: 47%;
				bottom: 20px;
				font-size: 1em;
				color: rgba(255, 255, 255, 0.2);	
				transition: all .7s ease-in-out;
				text-shadow: -1px 3px 4px #1a1a1a;
				text-decoration: none;

				&:hover {
					animation: pulsate-bck 1.5s ease-in-out infinite both;
					color: darken(rgba(255, 255, 255, 0.2), 20%);
					
					transition: all .7s ease-in-out;
				}
			}*/
}

.waveWrapper div.text h1 .izdvoji {
  color: rgba(255, 255, 255, 0.2);
}

.waveWrapper div.text h1 a {
  padding-top: 60px;
}

.waveWrapper div.text h1 a span {
  display: block;
  position: absolute;
  left: 47%;
  bottom: 20px;
  width: 60px;
  height: 100px;
  border: 3px solid #6d6d6d;
  -webkit-box-shadow: -3px 2px 20px rgba(0, 0, 0, 0.4);
          box-shadow: -3px 2px 20px rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.waveWrapper div.text h1 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #6d6d6d;
  border-radius: 100%;
  -webkit-animation: scroll-animacija 2s infinite;
          animation: scroll-animacija 2s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main section:not(:first-child) {
  font-weight: bold;
  text-align: center;
}

main section:not(:first-child):nth-child(odd) {
  background: #262627;
}

::-webkit-input-placeholder {
  font-weight: 500;
}

:-ms-input-placeholder {
  font-weight: 500;
}

::-ms-input-placeholder {
  font-weight: 500;
}

::placeholder {
  font-weight: 500;
}

.neumorphic-card {
  display: block;
  background-color: var(--back-color);
  padding: 40px;
  -webkit-box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2) !important;
          box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2) !important;
  border-radius: 30px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.neumorphic-input {
  background-color: var(--back-color);
  border-radius: 10px;
  border: 3px solid #f3f4f7;
  -webkit-box-shadow: 2px 2px 3px rgba(55, 84, 170, 0.15), inset 0px 0px 4px rgba(255, 255, 255, 0), inset 7px 7px 15px rgba(55, 84, 170, 0.15), inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2) !important;
          box-shadow: 2px 2px 3px rgba(55, 84, 170, 0.15), inset 0px 0px 4px rgba(255, 255, 255, 0), inset 7px 7px 15px rgba(55, 84, 170, 0.15), inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2) !important;
  padding: 5px 15px;
  outline: none !important;
  color: #535d74;
  margin-bottom: 2em;
}

textarea {
  height: 200px;
  resize: none;
}

.neumorphic-btn {
  font-size: 20px;
  border: none;
  padding: 10px 40px;
  border-radius: 40px;
  color: #6d7587;
  background-color: var(--back-color);
  /*box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.3), 
				-2px -2px 4px 2px rgba(255, 255, 255, 1), 
				inset -14px -14px 20px -10px rgba(0, 0, 0, 0.1),
				inset 14px 14px 20px -10px rgba(255, 255, 255, 0.5) !important;  */
  -webkit-box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0) !important;
          box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0) !important;
  -webkit-transition: -webkit-box-shadow 0.25s ease !important;
  transition: -webkit-box-shadow 0.25s ease !important;
  transition: box-shadow 0.25s ease !important;
  transition: box-shadow 0.25s ease, -webkit-box-shadow 0.25s ease !important;
}

.neumorphic-btn:active {
  -webkit-box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0), inset 7px 7px 15px rgba(55, 84, 170, 0.15), inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2) !important;
          box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0), inset 7px 7px 15px rgba(55, 84, 170, 0.15), inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2) !important;
}
/*# sourceMappingURL=test.css.map */