$svetlo_plava: #74b9ff;
$tablet: 768px;
$mobile: 414px;
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
@import url("https://fonts.googleapis.com/css?family=Rubik:900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scroll-animacija {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
a {
  color: $svetlo_plava;
  text-decoration: none;
  transition: all 1s;

  &.link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 2px 0;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 2px;
      transform: scaleX(0);
      background-color: #333536;
      transition: transform 0.3s;
    }

    &:hover {
      color: #333536;
      &:after {
        transform: scaleX(1);
      }
    }
  }
}
body,
html {
  font-family: "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #e7e8e9;
}
h1,
h2,
h3 {
  font-family: "Rubik", sans-serif;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
p {
  font-size: 1.5em;
  @include tablet() {
    font-size: 1em;
  }
}
.error {
  background: #ff00003d !important;
}
::placeholder {
  font-weight: 700;
}

//navigacija full page scrollera
#fp-nav ul {
  transform: scale(1.5);

  li {
    &:nth-child(odd) {
      a.active span {
        background: white !important;
      }
    }

    a {
      span {
        background: #333435 !important;
        border-radius: 0;
      }
    }
  }
}

.waveWrapper {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  //overflow: hidden;

  .waveWrapperInner {
    position: absolute;
    width: 100vw;
    // overflow: hidden;
    height: 101vh;
    bottom: -1px;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
  }
  .bgMiddle {
    @extend .waveWrapperInner;
    z-index: 10;
    opacity: 0.75;
  }
  .bgBottom {
    @extend .waveWrapperInner;
    z-index: 5;
  }

  .wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
  }
  .waveMiddle {
    @extend .wave;
    background-size: 50% 120px;

    animation: move_wave 10s linear infinite;
  }
  .waveBottom {
    @extend .wave;
    background-size: 50% 100px;

    animation: move_wave 15s linear infinite;
  }

  div.text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999;
    position: relative;
    width: 100%;
    height: 85%;

    h1 {
      // color: #bdbdbd;
      font-size: 4em;
      font-weight: 900;
      background-color: #1a1a1a;
      color: transparent;
      text-shadow: -1px 2px 5px rgba(65, 67, 69, 0.3);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;

      @include tablet() {
        font-size: 3em;
      }

      .izdvoji {
        color: $svetlo_plava;
      }

      a {
        padding-top: 60px;
        cursor: default;

        @include tablet() {
          display: none;
        }

        span {
          display: block;
          position: absolute;
          left: 47%;
          bottom: 20px;
          width: 60px;
          height: 100px;
          border: 3px solid $svetlo_plava;
          box-shadow: -3px 2px 20px rgba(0, 0, 0, 0.4);
          border-radius: 50px;
          box-sizing: border-box;

          &::before {
            position: absolute;
            top: 10px;
            left: 50%;
            content: "";
            width: 6px;
            height: 6px;
            margin-left: -3px;
            background-color: $svetlo_plava;
            border-radius: 100%;
            animation: scroll-animacija 2s infinite;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
main {
  section:not(:first-child) {
    font-weight: bold;
    text-align: justify;

    &:nth-child(odd) {
      background: #262627;
    }

    &#o-meni {
      img {
        width: 200px;
        margin: 0 auto;

        @include tablet() {
          width: 120px;
          margin-top: 1rem;
        }
      }
    }
  }
  #projekti-skilovi {
    h3 {
      color: $svetlo_plava;
      font-size: 1.25em;

      @include tablet() {
        font-size: 1em;
      }
    }

    .neumorphic-tab-container__tab {
      height: 250px;
      @include tablet() {
        height: 400px;
      }
    }
    .neumorphic-progress {
      margin-bottom: 20px;
    }

    .projekti {
      @include mobile() {
        padding: 10px;
      }
      @include tablet() {
        align-items: center;
        font-size: 0.8em;
      }
    }
  }
  #prednosti {
    .neumorphic-card__outer {
      background-color: transparent;
      border: 0;
    }
    .neumorphic-image {
      width: 150px;
      height: 100px;
      text-align: center;
      padding: 0;

      @include tablet() {
        width: 100%;
      }
      .ikonica {
        font-size: 100px;
        color: $svetlo_plava;
      }
    }
  }
  #forma {
    .neumorphic-card {
      box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.15), -7px -7px 20px #000,
        0 0 4px rgba(255, 255, 255, 0.2) !important;
      text-align: center;
      width: 100%;
    }
    .neumorphic-input {
      color: $svetlo_plava;
      width: 100%;
      font-weight: bold;
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0),
        inset 7px 7px 15px rgba(0, 0, 0, 0.15), inset -7px -7px 20px #000,
        0 0 4px rgba(255, 255, 255, 0.2) !important;
      border: 0;

      &:focus {
        box-shadow: 8px 8px 16px rgba(100, 100, 100, 0.15),
          -8px -8px 16px #1a1a1a, inset 0 0 4px rgba(255, 255, 255, 0),
          inset 8px 8px 16px rgba(100, 100, 100, 0.15),
          inset -8px -8px 16px #1a1a1a, 0 0 4px rgba(128, 128, 128, 0.35) !important;
      }
    }
    .neumorphic-btn {
      box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.15), -7px -7px 20px #000,
        0 0 4px rgba(255, 255, 255, 0.2) !important;
      transition: all 2s;
      opacity: 0.9;
      &:active {
        box-shadow: 8px 8px 16px rgba(100, 100, 100, 0.15),
          -8px -8px 16px #1a1a1a, inset 0 0 4px rgba(255, 255, 255, 0),
          inset 8px 8px 16px rgba(100, 100, 100, 0.15),
          inset -8px -8px 16px #1a1a1a, 0 0 4px rgba(128, 128, 128, 0.35) !important;
        transform: scale(0.95);
        opacity: 1;
        transition: all 2s;
      }
    }
    h3 {
      color: $svetlo_plava;
      @include tablet() {
        font-size: 1.5em;
      }
    }
    .social {
      font-size: 50px;
    }
    a {
      color: rgba(65, 67, 69, 0.7);
    }
    a:hover {
      color: $svetlo_plava;
    }
  }
}

//test section
.neumorphic-outer {
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.15), -7px -7px 20px #000,
    0 0 4px rgba(255, 255, 255, 0.2) !important;
}
.neumorphic-inner {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0),
    inset 7px 7px 15px rgba(0, 0, 0, 0.15), inset -7px -7px 20px #000,
    0 0 4px rgba(255, 255, 255, 0.2) !important;
}
.neumorphic-image {
  width: 100%;
  height: 174px;
  @include tablet() {
    width: 200px;
    text-align: center;
  }
}

.neumorphic-tab-container__control {
  color: $svetlo_plava;

  @include tablet() {
    font-size: 0.9em;
    padding: 5px;
  }
}
.neumorphic-tab-container__control_active {
  color: lighten($color: $svetlo_plava, $amount: 40%);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0),
    inset 7px 7px 15px rgba(0, 0, 0, 0.15), inset -7px -7px 20px #000;
}
.neumorphic-progress__back {
  box-shadow: 8px 8px 16px rgba(100, 100, 100, 0.35), -8px -8px 16px #00000055 !important;
}
$width90: 90%;
$width80: 80%;
$width70: 70%;
$width60: 60%;
.neumorphic-progress__line {
  height: 16px;
  margin-top: -16px;
  background-color: #6d6d6d;
  border-radius: 8px;
  opacity: 1;
  animation-duration: 3s ease;

  @keyframes sliding90 {
    0% {
      width: 16px;
    }
    100% {
      width: $width90;
    }
  }

  @keyframes sliding80 {
    0% {
      width: 16px;
    }
    100% {
      width: $width80;
    }
  }

  @keyframes sliding70 {
    0% {
      width: 16px;
    }
    100% {
      width: $width70;
    }
  }

  @keyframes sliding60 {
    0% {
      width: 16px;
    }
    100% {
      width: $width60;
    }
  }

  &.html {
    width: $width90;
    animation: sliding90;
  }

  &.css {
    @extend .html;
  }

  &.js {
    width: $width90;
    animation: sliding90;
  }

  &.php {
    @extend .js;
  }

  &.wp {
    width: $width80;
    animation: sliding80;
  }
  &.ps {
    @extend .wp;
  }
  &.linux {
    width: $width70;
    animation: sliding70;
  }
}
.neumorphic-inner div {
  color: lighten($color: $svetlo_plava, $amount: 40%);
  font-size: 1.15em;
}

///
.neumorphic-card {
  display: block;
  background-color: var(--back-color);
  padding: 40px;
  box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  //   max-width: 300px;
  width: min-content;
  @include tablet() {
    width: 100%;
  }
}
.neumorphic-input {
  background-color: var(--back-color);
  border-radius: 10px;
  border: 3px solid #f3f4f7;
  box-shadow: 2px 2px 3px rgba(55, 84, 170, 0.15),
    inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 7px 7px 15px rgba(55, 84, 170, 0.15),
    inset -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, 0.2) !important;
  padding: 5px 15px;
  outline: none !important;
  color: #535d74;
  margin-bottom: 2em;
}
textarea {
  height: 200px;
  resize: none;
}
.neumorphic-btn {
  font-size: 20px;
  border: none;
  padding: 10px 40px;
  border-radius: 40px;
  color: $svetlo_plava;
  background-color: var(--back-color);
  /*box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.3), 
				-2px -2px 4px 2px rgba(255, 255, 255, 1), 
				inset -14px -14px 20px -10px rgba(0, 0, 0, 0.1),
				inset 14px 14px 20px -10px rgba(255, 255, 255, 0.5) !important;  */
  box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0.2),
    inset 7px 7px 15px rgba(55, 84, 170, 0),
    inset -7px -7px 20px rgba(255, 255, 255, 0),
    0px 0px 4px rgba(255, 255, 255, 0) !important;
  transition: box-shadow 0.25s ease !important;
}

.neumorphic-btn:active {
  box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 7px 7px 15px rgba(55, 84, 170, 0.15),
    inset -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, 0.2) !important;
}
